*, *::before, *::after {
    box-sizing: border-box;
}
body {
    width: 350px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.search-input {
    width: 100%;
}
.hidden {
    display: none;
}